body {
    margin: 0;
    padding: 0;
    min-width: 1024px;
    width: 100%;
    color: #F5F2FF;
    background-color: #1E3D5C;
    height: auto;
    min-height: 100%;
}


header {
    width: 100%;
    height: 50px;

}

.allWidth {
    min-width: 1024px;
    width: 100%;

}



.dropdown-menu:nth-child(n)  {
    background-color: #222; 
    color: #9d9d9d;    
}


.dropdown-menu:nth-child(n) a{
    color: #9d9d9d;
}

.hdButton {
    color: #9d9d9d;
}

.hdButton:hover{
    color:black;
}

#hdButton8 {
    postion:absolute; 
    top:-275px; 
    left:15px;
    width: 160px;
    color: #9d9d9d;
}

#hdButton7 {
    postion:absolute; 
    top:-235px; 
    right: 90px;
    width: 105px;
}

#hdButton6 {
    postion:absolute; 
    top:-195px; 
    right:160px;
    width: 70px;
}

#hdButton5 {
    postion:absolute; 
    top:-155px; 
    right:300px;
    width: 140px;
}

#hdButton4 {
    postion:absolute; 
    top:-115px; 
    right:400px;
    width: 100px;
    
}

#hdButton3 {
    postion:absolute; 
    top:-75px; 
    right:530px;
    width: 130px;
}

#hdButton2 {
    postion:absolute; 
    top:-35px; 
    right:640px;
    width: 110px;
}

#hdButton1 {
    postion:absolute; 
    top:5px; 
    right:730px;
    width: 90px;

}

.submitButton {
    font-size: 30px;
    background: none;
    border: none;
    color: #66FF99;
    text-decoration: underline;
    cursor: pointer; 
}


.centralText {
    padding-left: 5%;
    padding-right: 5%;
    
}


#leftHomeText {
    text-align: right;
    padding-left: 12%;
    padding-top: 3%;
}

#centerHomeText {
    text-align: center;
    padding-top: 3%;
}



#rights {
    position: relative;
    top: -25px;
    left: 50%;
    width: 100px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  font-size: 10px;
}


html {
  position: relative;
  min-height: 100%;
  width: 100%; 
}

.headerImg {
   width: 100%;
   max-height: 250px;
}

#subtitleDiv {
    padding-left: 30px;
}



#padding {
    height: 60px;
    
}



#courseDetail {
    width: 230px;
    height: 130px;
}



#container {
    width: 100%;

    padding-right: 0;

}

#courseBlock {
    width: 300px;
    height: 480px;
}

#pagination {
    position: sticky;
    left: 0px;
    top 300px;
    font-size: 10px;
}

#pagination:nth-child(n) li {
    list-style-type: none;
    position: relative;
    right: 20px;
    overflow: visible;
}








#link {
    position: relative;
    left: 89.7%;
    
}

#category {
    font-size: 13px;
    height: 300px
}

#categoryList {
    padding-top: 10px;
}

#std-btn {
    background-color: #222222;
    color: white;
}

#std-btn:selected {
    background-color: #222222;
    color: white;
}

#std-btn:hover  {
    background-color: #EEEEEE;
    color: black;

}

#categoryContainer {
    position: relative;
    bottom: 15px;
    
}

.category-btn1 {
    margin-top: 5.5%;
    margin-left: 50%;
}


.category-btn2 {
    margin-top: 5.5%;
    margin-left: 15px;
}



#context {
    padding-top: 10px;

    
}

#context:nth-child(n) span {
    position:relative;
    top: 2px;
    font-size: 20px;    
}

#courseInfo {
    float: left;
    padding-left: 20px; 
    font-size: 13px;
    border-right-style: solid;
    border-right-color: #F5F2FF;
    border-right-width: 2px;
    padding-left: 10px;
}

#courseDescription {
    
    padding-left: 10%;
    min-width: 100px;
    max-width: 57%;
    min-height: 500px;
    max-height: 500px;
    float:left;
    
    
}

#courseRegister {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
}

#calendar {
    height: 100px;
    width: 300px;
}

#thunbnail {
    float: right;
    padding-right: 10px;
 
}

#courseInstructor {
    height: 200px;
}

#courseInstructor:nth-child(n) p {
    height: 100px;
    width: 245px;

}

#courseImage {
    float: left;
    padding-right: 15px;
    padding-bottom: 10px;
}



#prev {
    width: 50px;
    height: 400px;
    float:left;
    margin-left: 10px;
}

#next {
    width: 50px;
    height: 400px;
    float:right;
    margin-right: 10px;

}

.indexButton {
    margin-top: 350%;
}

#instructorList {
    padding-top:  10px;
    font-size: 10px;
}

#instructorBlock {
    height: 150px;
    margin-bottom: 10px;
}

.instructorContainer {
    height:100px
}

.instructorPosition {
    height: 20px
}

.instructorName, .courseName {
    margin-top:0px
}

.instructorBtn {
    margin-top: 10px
}

#map-canvas { 
    width: 50%; 
    height: 50%; 
    margin-bottom: 10px;
}

.hlink {
    font-size: 19px;
}

#biography {
    height: 190px;
}

a{
    color: #66FF99;
}

#tweets {
    margin-top: 20px;
}

#courseInstructorBlock {
    height: 115px;
}