body{
    color: #F5F2FF;
    background-color: #1E3D5C;
}

.dropdown-menu:nth-child(n) {
    background-color: #222; 
}

.dropdown-menu:nth-child(n) a {
    background-color: #222; 
    color: #9d9d9d; 
}

.dropdown-menu li:last-child   {
    border-bottom-color: aliceblue;
    border-bottom-style: solid;
    border-width: 1px;
}

.navbar-right{
    position: relative;
    z-index: 1px;
    background-color: #222;
}


footer {
    font-size: 10px;
}

.submitButton {
    font-size: 30px;
    background: none;
    border: none;
    color: #66FF99;
    text-decoration: underline;
    cursor: pointer; 
}


.centralText {
    padding-left: 5%;
    padding-right: 5%;
    
}


#leftHomeText {
    text-align: right;
    padding-left: 12%;
    padding-top: 3%;
}

#centerHomeText {
    text-align: center;
    padding-top: 3%;
}



#rights {
    position: relative;
    top: -25px;
    left: 50%;
    width: 100px;
}

html {
  position: relative;
  min-height: 100%;
  width: 100%; 
}

.headerImg {
   width: 100%;
   max-height: 250px;
}

#subtitleDiv {
    padding-left: 30px;
}



#padding {
    height: 60px;
    
}



#courseDetail {
    width: 230px;
    height: 130px;
}



#container {
    width: 100%;

    padding-right: 0;

}

#courseBlock {
    width: 300px;
    height: 480px;
}

#pagination {
    position: sticky;
    left: 0px;
    top 300px;
    font-size: 10px;
}

#pagination:nth-child(n) li {
    list-style-type: none;
    position: relative;
    right: 20px;
    overflow: visible;
}









#category {
    font-size: 13px;
    height: 300px
}

#categoryList {
    padding-top: 10px;
}

#std-btn {
    background-color: #222222;
    color: white;
}

#std-btn:selected {
    background-color: #222222;
    color: white;
}

#std-btn:hover  {
    background-color: #EEEEEE;
    color: black;

}

#categoryContainer {
    position: relative;
    bottom: 15px;
    
}

.category-btn1 {
    margin-top: 5.5%;
    margin-left: 50%;
}


.category-btn2 {
    margin-top: 5.5%;
    margin-left: 15px;
}



#context {
    padding-top: 10px;

    
}

#context:nth-child(n) span {
    position:relative;
    top: 2px;
    font-size: 20px;    
}

#courseInfo {
    float: left;
    padding-left: 20px; 
    font-size: 13px;
    border-right-style: solid;
    border-right-color: #F5F2FF;
    border-right-width: 2px;
    padding-left: 10px;
}



#courseRegister {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
}

#calendar {
    height: 100px;
    width: 310px;
    padding-top: 10px;
    padding-left: 10px;
}

#thunbnail {
    float: right;
    padding-right: 10px;
 
}

#courseInstructor {
    height: 200px;
    max-width: 300px;
}

#courseInstructor:nth-child(n) p {
    height: 100px;
    width: 245px;

}

#courseImage {
    float: left;
    padding-right: 15px;
    padding-bottom: 10px;
}



#prev {
    position: fixed;
    bottom:30%;
    font-size: 12px;
    text-align: center;
}

#next {
    position: fixed;
    right: 0px;
    bottom:30%;
    text-align: center;
}

.indexButton {
    margin-top: 350%;
    font-size: 29px;
}

#instructorList {
    padding-top:  10px;
    font-size: 10px;
}

#instructorBlock {
    height: 150px;
    margin-bottom: 10px;
}

.instructorContainer {
    height:100%;
}

.instructorPosition {
    height: 20px;
}

.instructorName, .courseName {
    margin-top:0px
}

.instructorBtn {
    margin-top: 0%;
}

#map-canvas { 
    width: 60%; 
    height: 50%; 
    margin-left:5%;
}

.hlink {
    font-size: 19px;
}

#biography {
    height: 100%;
}

a{
    color: #66FF99;
}
a:visited{
    color: #66FF99;
}


.calendarRow:nth-child(n) div {

    width: 50px;
    float: left;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    height: 22px;
}



#tweets {
    margin-top: 20px;
}

#courseInstructorBlock {
    height: 100%;
}


#categoryDetail {
    min-height: 200px;
}

.second-btn {
    margin-left: 20px;
}
#courseRoom {
    margin-top:60px;
}

#logo {
    position: relative;
    bottom: 15px;
}


#anchor {
    font-size: 10px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


a > small {
    font-size: 13px;
}